<!-- based off (but not mindlessly copied from) view-source:http://finance.cs50.net/ -->

{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class=" table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Buy/Sell</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for row in userhistory %}
                <tr>
                    <td>{{ row.symbol }}</td>
                    <td>{{ row.buysell }}</td>
                    <td>{{ row.shares }}</td>
                    <td>{{ row.price }}</td>
                    <td>{{ row.amount }}</td>
                    <td>{{ row.datetime }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
